@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.pie-pagina{
    width: 100%;
    background-color: aqua;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    display: inline-block;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
    }
  }  


.Card1_img{
    max-width: fit-content;
    height: 100px;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);


}

.Img_text1{
  
    max-height: fit-content;
    max-width: 100%;
    padding: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.Card1_img{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 0;
    
}

.Card1_img .title_1{
    font-weight: bold;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}
.Card1_img h1{
    text-align:center;
    margin-top: 30px;
   
}

.Card1_img  .Img1{
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 10px;
    align-items: center;
    padding: 2px;
    justify-content: center;
    border:0px;
    height: 12rem;
    width: 12rem;
    border-radius: 450px;
    box-shadow: 0px 0px 20px #000000;
    
}

.Img_text1 .Text1{
     margin-top: 40px;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.Img_text1 .p1{
    justify-content: center;
    text-align: center;
    font-size: 20px;

    }

    @media only screen and (max-width: 600px) {
        .Card1_img {
            height: 80px; 
        }
    
        .Img_text1 {
            padding: 10px; 
        }
    
        .title_1 {
            font-size: 30px; 
        }
    
        h1 {
            margin-left: 0;
        }
    
        .Img1 {
            margin-top: 30px; 
        }
    }    

    @media only screen and (min-width: 1200px) {
        .Card1_img {
            max-width: 80000px;
            }
    }

CATHERINE
.custom-box {
      background-color: #00BBBF; 
      padding: 20px; 
      border-radius: 10px;
      
      text-align: justify;
      width: 600px;
      height: 300px;
    }
    .image-box {
   
      padding: 10px; 
      border-radius: 10px; 
      width: 600px; 
      height: 300px;
      margin-right: 100px; 
    }
    .image-text-container {
      display: flex ;
      align-items: center; 
    }
 
HELEN!
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.O_text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.P_text {
font-family: "Poppins", sans-serif;
font-weight: 300;
font-style: normal;
}  

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(#0D5772, #0D5772 50%, #FFFF 50%, #FFFF 100%);
}

.container{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 320px;
    background: #FFFF;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.container .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00BBBF;
    transform: scaleY(0);
    transform-origin: top;
    transition:transform 0.5s;
}

.container .box:hover:before{
    transform: scaleY(1);
    transform-origin: bottom;
    transition:transform 0.5s;
}

.container .box h2{
    position: absolute;
    left: 20%;
    top: 10%;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.5;
    transition: 0.5s;
}

.container .box:hover h2{
    opacity: 1;
    color: #FFFF;
    transform: translateY(-40px);
}

.container .box p{
    position: relative;
    z-index: 2;
    color:#FFFF;
    transition: 0.5s;
}

.container .box:hover p{
    color: #FFFF;
}
Helen fin

h1 {
    text-align: center;
    background-color: #295F72;
    color: white;
    padding: 20px;
    font-family: "outfit", sans-serif;
    font-weight: 500%;
}

sub{
    font-family: "Outfit-Light", sans-serif ;
    font-size: 150%;
    margin-top: 100px;
    width: 20%;
    color: rgb(124, 209, 243);
}

p{
    font-family: "Poppins", sans-serif;
    color: white;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contenido {
    display: flex;
    margin: 60px;
}


.secciones {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #062D3A;
}

.secciones2 {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #295F72;

}

.secciones3 {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color:  #062D3A;;
}

.secciones4{
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #295F72;

}

